﻿@model Presentation_Layer.ViewModels.HomeViewModel

@{
	ViewBag.Title = "Auction.NET";
}

<div class="text-center">
	<h1 class="display-4">Choose your category</h1>
</div>


<div class="bs-example">
	<div class="accordion" id="accordionExample">
		@for (int i = 0; i < Model.Categories.Count; i++)
		{
			string idCard = $"heading{i+1}";
			string dataTarget = $"#collapse{i+1}";
			string idCollapse = $"collapse{i+1}";
			string ariaLabelledby = $"heading{i+1}";

			<div class="card">
				<div class="card-header" id=@idCard>
					<h2 class="mb-0">
						<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target=@dataTarget>@Model.Categories[i].Name</button>
					</h2>
				</div>
				<div id=@idCollapse class="collapse" aria-labelledby=@ariaLabelledby data-parent="#accordionExample">
					@if (@Model.Categories[i].Subcategories.Any())
					{
						<div class="card-body">

							<ul class="list-group list-group-flush">
								@foreach (string subcategory in @Model.Categories[i].Subcategories)
								{
									<li class="list-group-item">@subcategory</li>
								}
							</ul>
							
						</div>
					}
					</div>
			</div>
		}
	</div>
</div>