﻿@{
	ViewBag.Title = "Error 500";
}

<div class="page-wrap d-flex flex-row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center">
				<span class="display-1 d-block">500</span>
				<div class="mb-4 lead">The server encountered an internal error or misconfiguration and was unable to complete your request. </div>
				@Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-link" })
			</div>
		</div>
	</div>
</div>