﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/css")
	@Styles.Render("~/bootstrap/styles")
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				@Html.ActionLink("Auction.NET", "Index", "Home", null, new { @class = "navbar-brand" })
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					@Html.Partial("_LoginPartial")
				</div>
			</div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 mb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Alexey Chumakov
        </div>
    </footer>

	@Scripts.Render("~/jquery")
	@Scripts.Render("~/jquery/validate")
	@Scripts.Render("~/bootstrap/scripts")
	@RenderSection("Scripts", required: false)
</body>
</html>
