﻿<ul class="navbar-nav ml-auto">
	@if (User.Identity.IsAuthenticated)
	{
		<li class="nav-item">
			@Html.ActionLink($"Hello, {User.Identity.Name}!", "User", "Account", null, new { @class = "nav-link text-dark" })
		</li>
		<li class="nav-item">
			@Html.ActionLink($"Logout", "Logout", "Account", null, new { @class = "nav-link btn btn-light btn-link text-dark" })
		</li>
	}
	else
	{
		<li class="nav-item">
			@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link text-dark" })
		</li>
		<li class="nav-item">
			@Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link text-dark" })
		</li>
	}
</ul>

